<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

	<title>邯郸小红娘注册</title>
</head>
<body>

	<div>本协议中的“用户”是指已注册软件服务的个人，本协议中的“其他用户”是指除您之外的用户。我们在此特别提醒您，在注册成为用户之前，请认真阅读本协议，确保您充分理解本协议各条款。请您审慎阅读并选择接受或不接受本协议。除非您勾选接受本协议，否则您无权注册、登录或使用软件服务。您的注册、登录、使用行为将被视为对本协议的接受，意味着您同意接受本协议的约束。</div>
	<div>本协议可由我们随时更新，更新后的协议条款一旦公布即代替原来的协议条款。我们会在协议修改后的第一时间通过软件服务将更新版的服务协议发送给您，您可以勾选同意或不同意接受新版的服务协议。您若勾选不同意的，即视为自愿不再接受软件服务，则本协议立即终止。\n"
"我们郑重提醒您注意本协议中免除我们的责任和及限制您的权利的条款，请您仔细阅读，自主考虑风险。</div>
	
	
	<p>一、账户注册</p>
	<div>1.您在使用软件服务前需要注册一个“邯郸小红娘”账户（以下简称“账户”）。账户应当使用您的手机号码绑定注册，请您使用尚未绑定过账户且未被我们根据本协议封禁的手机号码注册账户。我们可以根据用户需求或产品需要对账户注册和绑定的方式进行调整，进行此种调整，我们只需提前5天通过软件服务通知您即可。</div>
	<div>2.您同意并认可我们在注册账户时使用您提供的手机号码及/或自动提取您的手机号码及手机设备识别码等信息用于您的账户注册及本协议所允许的其他用途。</div>
	<div>3.在您注册及使用软件服务时，我们需要搜集能识别您身份的个人信息以便我们可以在必要时联系您，或为您提供更好的使用体验。
我们需要并可以搜集的信息包括但不限于：您的姓名、性别、年龄、照片、出生日期、身份证号、常住地址、学校情况、公司情况、所属行业、兴趣爱好、常出没的地方、个人说明。此外，我们可能还需要您授权软件服务访问您手机的通讯录并获取您的手机通讯录信息。我们同意对本款前述信息的搜集和使用将受限于本协议第三条的约束。</div>
	<div>4.软件服务是一款主要面向有明确结婚意向的单身人士的实名制移动社交产品。因此，您需要向软件服务提交可以证实自己个人信息及其真实性的照片、文件资料等信息，具体包括但不限于：您的身份证件号码及身份证正反面照片、护照证件号码及照片、学历学位证书正面照片、房产证件正面照片、汽车驾驶证件正面照片。我们有权对您提交的认证信息进行审核并且确认是否通过。您若无法通过我们的信息认证审核，将无法使用软件服务中的即时通讯、关注他人等功能，但可以查看其他用户的公开资料及使用软件服务提供的条件搜索功能。我们将对您提交的用于个人信息真实性认证的资料进行严格保密。</div>


	<p>二、服务内容</p>
	<div>1.软件服务的具体内容由我们根据实际情况提供，包括但不限于授权用户通过其账号进行即时通讯、关注他人、发布留言。我们可以对软件服务提供的具体服务内容予以变更，且我们提供的服务内容可能随时变更；具体服务内容变更的，您将会于服务内容变更前5日内收到我们关于服务变更的通知。 </div>
	<div>2.我们提供的服务项目从性质上分为免费服务与收费服务。您可以通过付费方式购买收费服务，具体方式为：您需要通过网上银行、支付宝或其他软件服务提供的付费途径支付具体收费服务项目相应金额的人民币（具体以我们公布的资费标准为准），从而获得具体收费服务项目的使用权限。对于收费服务项目，我们会在您使用之前给予明确的提示，只有您根据提示确认使用该收费服务并按照前述支付方式完成了支付行为，您才能使用该等收费服务项目。支付行为的完成以我们收到银行或第三方支付平台“支付已完成”的确认通知为准。</div>


	<p>三、用户个人隐私信息保护</p>
	<div>1.您在注册账户或使用软件服务的过程中，可能需要填写或提交一些必要的信息，例如法律法规、规章及其他规范性文件（以下统称“法律法规”）规定的需要填写的身份信息。如您提交的信息不完整或不符合法律法规的规定，则您可能无法使用软件服务或在使用软件服务的过程中受到限制。</div>
	<div>2.个人隐私信息是指涉及您个人身份或个人隐私的信息，包括但不限于：您的身份证件号码、手机号码、手机设备识别码、IP地址、学历学位证书照片，身份证件照片、房产证照片、汽车行驶证照片、聊天记录；非个人隐私信息是指您对于软件服务的操作状态以及使用习惯等明确且客观反映在我们服务器端的信息，包括但不限于：基本记录信息、其他用户通过访问您的个人账户即可公开了解到的信息、个人隐私信息范围外的其它普通信息、您同意公开或主动选择公开的本款前述个人隐私信息。</div>
	<div>3.尊重您个人隐私信息的私有性是我们的一贯制度，我们将采取技术措施和其他一切必要措施，确保您的个人隐私信息安全，防止您提交的个人隐私信息泄露、毁损或丢失。在发生前述情形或者我们发现存在发生前述情形的可能性时，我们将及时采取补救措施保障您的个人隐私信息安全，防止您的损失扩大化。</div>
	<div>4.未经您的同意，我们不得不向任何第三方公开、 透露您的个人隐私信息或以任何方式使用您的个人隐私信息。但在以下情形发生时，我们可以适当披露或使用您的个人隐私信息且无须承担法律责任：\n" +
"(1) 我们根据法律法规规定或有权机关的指示应当提供您的个人隐私信息的；</div>
	<div>5.我们重视对未成年人个人隐私信息的保护。我们将依据您提供的个人信息判断您是否为未成年人。任何18岁以下的未成年人注册账户或使用软件服务应事先取得家长或其其他法定监护人（以下简称“监护人”）的书面同意。除根据法律法规的规定及有权机关的指示披露外，我们不会使用或向任何第三方披露未成年人的个人隐私信息。除本协议约定的情形外，未经监护人事先同意，我们不会使用或向任何第三方披露未成年人的个人隐私信息。另外，您如果尚未年满18周，您将会被禁止下载和使用我们通过软件服务提供的网络游戏。</div>
	<div>6.您确认并同意，您的地理位置信息属于非个人隐私信息，您成功注册软件服务账户，即视为确认授权我们提取、公开及使用您的的地理位置信息。您的地理位置信息将作为您的公开资料之一，由来布科技向其他用户公开。如您需要终止向其他用户公开其地理位置信息，您需要自行设置您的状态为隐身，在此情况下，我们则不会在软件服务中向公众披露您的地理位置信息。</div>
	<div>7.为了改善我们的技术和服务，以便向您提供更好的服务体验，我们可以自行收集、使用或向第三方提供您的的非个人隐私信息。</div>


<p>四、软件服务提供及使用规范</p>
	<div>1.本条所述的“内容”是指用户使用本服务过程中所制作、上载、复制、发布、传播的任何内容，包括但不限于账户头像、名称、用户说明等注册信息及认证资料，或文字、语音、图片、视频、图文、网址链接等发布、发送、回复或自动回复消息和相关链接页面，以及其他使用账户或软件服务所产生的内容。 </div>
	<div>2.您不得利用账户或软件服务制作、上载、复制、发布、传播如下被法律、法规和政策所禁止的内容：危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；损害国家荣誉和利益的；煽动民族仇恨、民族歧视，破坏民族团结的；散布淫秽、色情、赌博、暴力、凶杀、毒品、恐怖、教唆犯罪或者传授犯罪方法和技巧的；侮辱或者诽谤他人，侵害他人合法权益的；不遵守法律法规底线、社会主义制度底线、国家利益底线、公民合法权益底线、社会公共秩序底线、道德风尚底线和信息真实性底线的“七条底线”要求的；</div>
	<div>3.我们在提供的软件服务中可能推送广告，您同意在接受软件服务程中显示我们和第三方供应商、合作伙伴提供的广告。我们承诺将会对软件服务中推送的广告及其经营者进行形式上的审慎审查，尽可能地对于广告内容进行审核。除法律法规明确规定外，您应自行对依该广告信息进行的交易行为负责。对于您因依软件服务中推送广告的信息、内容进行交易而遭受的损失或损害，我们无须承担任何责任。</div>
	
	<p>五、法律责任</p>	
	<div>1.如果我们发现或收到他人投诉举报您违反本协议约定或软件服务相关管理规定的，我们有权不经通知随时对相关内容及您的账户采取相应的处置措施并告知您处理结果，处置措施具体包括但不限于：对您的用户资料、聊天记录进行审查、删除，并视违约违规情节轻重对您的账户处以警告、账户封禁 、设备封禁 、功能封禁等的处罚。</div>	
	<div> 2.您同意并认可，我们有权依合理判断对您违反有关法律法规或本协议约定的行为进行处罚并采取适当的法律行动，并依据法律法规保存有关信息以用于向有关部门报告等，您应承担由此而产生的一切法律责任。</div>
	<div> 3.您同意并认可，因您违反本协议约定，导致或产生的任何第三方主张的任何索赔、要求或损失，您对此应独立承担责任。如果侵犯我们及我们的子公司、分公司及其他关联公司的权益，您应当对我们及我们的子公司、分公司及其他关联公司进行赔偿，并使之免受损害。</div>

	
<div>六、不可抗力及其他免责事由</div>
<div>1.您同意并认可，在使用软件服务的过程中，可能会遇到不可抗力等风险因素导致软件服务发生中断。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。出现前述情况时，我们将努力在第一时间与相关单位配合，及时进行修复，但是由此给您或第三方造成的损失，我们及合作单位将在法律允许的范围内免责。</div>
<div>2.您同意并认可，软件服务同大多数互联网服务一样，受包括但不限于用户原因、网络服务质量、社会环境等因素的差异影响，可能受到各种安全问题的侵扰，如他人利用您的公开资料，造成现实生活中的骚扰；您下载安装的其它软件或访问的其他网站中含有计算机病毒，威胁到您和其他用户的计算机信息和数据的安全，继而影响软件服务的正常使用等等。您应加强信息安全及用户资料的保护意识，注意加强密码保护，以免遭致损失和骚扰。对因您对于账户安全管理不善而造成的账户失窃及其他任何后果，我们无须承担责任。</div>
<div>3.您同意并认可，因客观网络环境原因或您的网络、计算机设备原因造成的软件服务无法正常使用及因此给您或第三方造成损失的，我们对此无须承担任何责任；对于因计算机病毒或黑客攻击、系统不稳定、您所在的位置、用户关机以及其他任何技术、互联网络、通信线路问题等原因造成的服务中断或不能满足您的使用要求的风险及因此导致的您或第三方的任何损失，我们对此无须承担任何责任。</div>
<div>4.您同意并认可，在使用软件服务过程中出现来自其他用户的任何存在误导性、欺骗性、威胁性、诽谤性、令人反感的信息或任何其他形式的非法信息，或侵犯他人权利的匿名或冒名的信息，以及伴随前述信息的行为，因此导致的您或第三方的任何损失，我们无须承担任何责任。</div>
<div>5.您同意并认可，我们需要定期或不定期地对软件服务平台或相关的设备进行检修或者维护，如因此类情况而造成的软件服务在合理时间内的中断，我们无须为此承担任何责任，但我们会事先对此类情况进行通告。</div>
<div>6.我们依据法律法规、本协议约定获得处理违法、违规或违约行为的权利，但前述权利不构成我们在本协议项下的义务或承诺，我们不保证能够及时有效发现用户存在的违法、违规或违约行为或对此进行相应处理。 </div>
<div>7.您同意并认可，对于我们向您提供的以下软件服务中非因我们故意或重大过失造成的质量缺陷及其引发的任何损失，我们无须承担任何责任：\n" +
"(1) 我们向您免费提供的服务； \n"
"(2) 我们向您赠送的任何产品或者服务\n"
<div>8.我们会尽最大努力认真审核用户提交的所有认证资料，对于用户资料的形式进行严格地审查，尽可能地对于用户资料的内容进行审慎审查。但由于是人工审核，我们不能保证每一个用户提供的信息都是真实可靠的，需要您在使用软件服务过程中自主鉴定其他用户的信息。您同意并认可，因您对其他用户信息审查不慎而造成的一切损失，须由您自行承担相应的法律责任。                </div>
<div>9.在任何情况下，我们均不对任何间接性、后果性、惩罚性、偶然性、特殊性或刑罚性的损害（包括因您使用软件服务而遭受的利润损失）承担责任（即使我们已被告知该等损失的可能性）。尽管本协议中可能含有相悖的规定，但我们对您承担法律责任的限度，应以您因使用软件服务而支付给我们的费用(如有)为限。</div>


<p>七、软件服务的变更、中断、终止 </p>

<div>1.如发生下列任何一种情形，我们有权变更、中断或终止向您提供的免费服务或收费服务，而无须对您或任何第三方承担任何责任：\n"
"(1) 根据法律规定您应提交真实信息，而您提供的个人资料不真实、或与注册时信息不一致又未能提供合理证明的； \n"
"(2) 您违反相关法律法规规定或本协议约定的； \n"
"(3) 按照法律规定或有权机关要求的； \n"
"(4) 出于安全的原因或其他必要的情形的。</div>
"\n"


<p>八、其他</p>
<div>1.我们郑重提醒您注意本协议中免除我们的责任和限制您的权利的条款，请您仔细阅读，自主考虑风险。未成年人应在监护人的陪同下阅读本协议。 \n"
<div>2、本协议的效力、解释及纠纷的解决，适用于中华人民共和国法律。若您和我们之间发生与本协议有关的任何纠纷或争议，首先应友好协商解决，协商不成的，您同意将此类纠纷或争议提交我们公司住所地所在地区的人民法院管辖。</div>
<div>3.本协议的任何条款无论因何种原因无效或不具可执行性，其余条款仍有效且对双方具有约束力。</div>
<div>   4.您同意并认可，我们可以通过下列方式向您送达通知：(1)通过软件服务客户端向您在线发送通知；(2)向您提供的地址发送电子邮件；(3)通过您预留的手机号码向您发送通知。您同意将及时更新您的联络信息。</div>


</body>
</html>